.search-header {
  background-color: #fff;
  z-index: 50;
  position: absolute;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  display: flex;
  opacity: 0;
}

.search-header.in {
  display: flex;
}

.search-header.show {
  opacity: 1;
}

.search-header .item-input-wrapper {
  background-color: transparent;
}