$horizontal-padding:              16px;
$grid-padding-width:              8px;
$popup-border-radius:             4px;
$popup-width:                     288px;
$bar-padding-portrait:            5px $horizontal-padding;
$bar-padding-landscape:           5px $horizontal-padding;

$item-thumbnail-width:			  40px;
$item-thumbnail-height:			  40px;