<section id="signup-screen" class="mainbar">
    <section class="matter">
            <div class="container">
                <!--Row with three equal columns-->
                <div class="row">
                    <div class="col-md-4">
                        <div class="demo-content">.col-md-4</div>
                    </div>
                    <div class="col-md-4">
                        <div class="demo-content bg-alt">
                            <h2>Sign Up</h2>
                            <input id="user" type="text" class="form-control input-user regs" placeholder="Email" ng-model="vm.new.user"><br>
                            <input id="user" type="text" class="form-control input-user regs" placeholder="Confirm Email" ng-model="vm.creds.user"><br><br>
                            <input id="user" type="text" class="form-control input-user regs" placeholder="Username" ng-model="vm.creds.user"><br>
                            <input id="password" type="password" class="form-control input-password regs" placeholder="Password" ng-model="vm.creds.pass"><br>
                            <input id="password" type="password" class="form-control input-password regs" placeholder="Confirm Password" ng-model="vm.creds.pass">
                            <button class="btn btn-warning btn-block btn-lg" type="submit" ng-click="vm.printCreds()">Submit</button>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="demo-content">.col-md-4</div>
                    </div>
                </div>
                
                
                <!--<div class="row">
                    
                    <div class=".col-xs-12 .col-sm-6 .col-lg-8">

                    </div>-->
                    <!--&lt;!&ndash; Optional: clear the XS cols if their content doesn't match in height &ndash;&gt;-->
                    <!--<div class="clearfix visible-xs-block"></div>-->

                     
                <!--</div>-->
                
                <!--<div class="row">-->
                    <!--<div class="col-md-6 col-lg-3">-->
                        <!--<div class="visible-lg text-success">Large Devices!</div>-->
                        <!--<div class="visible-md text-warning">Medium Devices!</div>-->
                        <!--<div class="visible-xs visible-sm text-danger">Extra Small and Small Devices</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-6 col-lg-3">-->
                        <!--<div class="visible-lg text-success">-->
                            <!--<input id="user" type="text" class="form-control input-user" placeholder="Username / Email">-->
                            <!--<input id="password" type="text" class="form-control input-password" placeholder="Password">-->
                        <!---->
                        <!--</div>-->
                        <!--<div class="visible-md text-warning">Medium Devices!</div>-->
                        <!--<div class="visible-xs visible-sm text-danger">Extra Small and Small Devices</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-6 col-lg-3">-->
                        <!--<div class="visible-lg text-success">Large Devices!</div>-->
                        <!--<div class="visible-md text-warning">Medium Devices!</div>-->
                        <!--<div class="visible-xs visible-sm text-danger">Extra Small and Small Devices</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-6 col-lg-3">-->
                        <!--<div class="visible-lg text-success">Large Devices!</div>-->
                        <!--<div class="visible-md text-warning">Medium Devices!</div>-->
                        <!--<div class="visible-xs visible-sm text-danger">Extra Small and Small Devices</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </section>
</section>